#description .ql‑align‑center {
    text-align: center;
}

#description .ql‑align‑right {
    text-align: right;
}

#description h1 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 250%;
    margin: 0 0 1rem;
    color: blue;
}

#description h2 {
    font-size: 1rem;
    font-weight: 600;
    line-height: 200%;
    margin: 0 0 1rem;
}

#description p {
    font-size: 1rem;
    margin: 0 0 1rem;
}


#description a {
    color: blue;
    text-decoration: underline;
}

#description img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#description ol [data-list=ordered] {
    list-style: numeric;
    margin-left: 15px;
}

#description ol [data-list=bullet] {
    list-style: disc;
    margin-left: 15px;
}

#description img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* the dashes in ql-align-center are special */
.description .ql‑align‑center {
    text-align: center;
}

.description .ql‑align‑right {
    text-align: right;
}

.description h1 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 250%;
    margin: 0 0 1rem;
    /* color: pink; */
}

.description h2 {
    font-size: 1rem;
    font-weight: 600;
    line-height: 200%;
    margin: 0 0 1rem;
}

.description p {
    font-size: 1rem;
    margin: 0 0 1rem;
}


.description a {
    color: blue;
    text-decoration: underline;
}

.description img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.description ol [data-list=ordered] {
    list-style: numeric;
    margin-left: 15px;
}

.description ol [data-list=bullet] {
    list-style: disc;
    margin-left: 15px;
}

.description img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}